* {
  margin: 0;
  padding: 0;
}
header {
    width: 100%;
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    padding-top: 1em;
    padding-bottom: 1em;
}
header img{
    width: 100px;
    margin-left: 44%;
    margin-top: 1%;
    border-radius: 100%;
}
header h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
section{
    width: 70%;
    margin: 0 auto;
}
article{
    padding: 20px 0 20px 0;
}
article h2{
    float: left;
    border-bottom: 2px solid cadetblue;
    text-transform: uppercase;
}
article ul, article p{
    margin-left: 44%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-bottom: 1.6em;
}
article ul li{
    margin-left: 15px;
    list-style: square;
}
footer{
    margin-top: 2em;
    text-align: center;
    width: 100%;
    background-color: cadetblue;
}
footer a:link, footer a:visited{
    color: rgb(255, 187, 0);
}